html {
     box-sizing: border-box;
}
 *, *::before, *::after {
     box-sizing: inherit;
}
 html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}
 body {
     background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
     font-family: 'Coda', cursive;
}
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 h1 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
}
/* * Styles for the deck of cards */
 .deck {
     width: 660px;
     min-height: 680px;
     background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3em;
}
 .deck .card {
     height: 125px;
     width: 125px;
     background: #2e3d49;
     font-size: 0;
     color: #ffffff;
     border-radius: 8px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
 .deck .card.open {
     transform: rotateY(0);
     background: #02b3e4;
     cursor: default;
    /* animations for cards */
     animation-name: flipInY;
     -webkit-backface-visibility: visible !important;
     backface-visibility: visible !important;
     animation-duration: .75s;
}
 .deck .card.show {
     font-size: 33px;
}
 .deck .card.match {
     cursor: default;
     background: #02ccba;
     font-size: 33px;
    /* animations for cards */
     cursor: default;
     background: green;
     font-size: 33px;
     animation-name: rubberBand;
     -webkit-backface-visibility: visible !important;
     backface-visibility: visible !important;
     animation-duration: .75s;
}
/* * Styles for the Score Panel */
 .score-panel {
     text-align: left;
     width: 345px;
     margin-bottom: 10px;
}
 .score-panel .stars {
     margin: 0;
     padding: 0;
     display: inline-block;
     margin: 0 5px 0 0;
}
 .score-panel .stars li {
     list-style: none;
     display: inline-block;
}
 .score-panel .restart {
     float: right;
     cursor: pointer;
}
 .timer {
     display: inline-block;
     margin: 0 1rem;
}
 #success-message {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: white;
     min-height: 680px;
     top: 0;
     display: none;
     text-align: center;
}
 .popup .content {
     max-height: 50%;
     overflow: auto;
     text-align: center;
}
 #starRating{
     display: inline-flex;
}
 #starRating > li {
     list-style-type: none;
     margin: 0;
     padding: 0;
}
 #button {
     background-color: green;
     color: white;
     padding: 20px;
     border-radius: 25px;
     border-color: green;
}
/* animations */
 @keyframes flipInY {
     from {
         transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
         animation-timing-function: ease-in;
         opacity: 0;
    }
     40% {
         transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
         animation-timing-function: ease-in;
    }
     60% {
         transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
         opacity: 1;
    }
     80% {
         transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
     to {
         transform: perspective(400px);
    }
}

 @keyframes rubberBand {
     from {
         transform: scale3d(1, 1, 1);
    }
     30% {
         transform: scale3d(1.25, 0.75, 1);
    }
     40% {
         transform: scale3d(0.75, 1.25, 1);
    }
     50% {
         transform: scale3d(1.15, 0.85, 1);
    }
     65% {
         transform: scale3d(.95, 1.05, 1);
    }
     75% {
         transform: scale3d(1.05, .95, 1);
    }
     to {
         transform: scale3d(1, 1, 1);
    }
}
 @keyframes pulse {
     from {
         transform: scale3d(1, 1, 1);
    }
     50% {
         transform: scale3d(1.2, 1.2, 1.2);
    }
     to {
         transform: scale3d(1, 1, 1);
    }
}
